* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

#main-nav {
  background: #D7E8D4;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 5;
}

table {
  background-color: #9acd32;
  margin: 10px;
  flex: 1;
}

table,
th,
td {
  border: 2px solid rgb(50, 150, 0);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content>article {
  flex: 1;

}

.content>aside {
  background: beige;
  flex: 1;
}

header,
footer {
  background: #9acd32;
  height: 20vh;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

.form2 {
  background: #b9dd72;
  flex: 1;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .content>article {
    min-height: auto;
  }
}