body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }

#main-header {
    padding: 20px;
}

.content-article {
    display: flex;
    padding: 20px;
}

.big {
    flex-grow: 2;
    background-color: rgb(115, 116, 179);
    margin: 5px;
}

.small {
    flex: 1;
    background-color: rgb(108, 107, 144);
    margin: 5px;
}


#sidebar {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 150px;
    border-right: 1px solid #D7DBDD;
    background-color: #FCFDFD;
    padding: 10px;
}